{% extends 'InertiaWinspireBundle::layout.html.twig' %}
{% block body_class %} class="experiences"{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.17.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.ui.selectmenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.address-1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/category.js') }}"></script>
{% endblock %}

{% block title %}Winspire Sports &amp; Entertainment | {{ category.name }} Experiences{% endblock %}

{% block content_header '' %}

{% block content %}
    <div id="banner-wrapper">
        <div id="banner" style="visibility:hidden;">
{% if experiences | length > 1 %}
{% set left = 0 %}
{% for item in experiences %}
            <div style="z-index:1; position:absolute; top:0; left:{{ left }}px;" class="slide" data-slug="{{ item.slug }}">
                <img src="{{ asset('uploads/assets/experiences/images/' ~ item.image ) }}" width="1020" height="600"/>
                <div class="slide-overlay" style="display:none;">
{% if item.logo is not null %}
                    <img style="float:left; margin-right:15px;" src="{{ asset('uploads/assets/experiences/logos/' ~ item.logo) }}"/>
{% endif %}
                    <h3>{{ item.name }}</h3>
                    {{ item.description | markdown }}
                    <a href="#" class="learn-more">experience details</a>
                    <a href="#" class="close">&nbsp;</a>
                </div>
            </div>
{% set left = left + 1020 %}
{% endfor %}
{% endif %}
{% if experiences | length == 1 %}
            <div style="z-index:1; position:absolute; top:0; left:0px;" class="slide" data-slug="{{ experiences[0].slug }}">
                <img src="{{ asset('uploads/assets/experiences/images/' ~ experiences[0].image ) }}" width="1020" height="600"/>
                <div class="slide-overlay" style="display:none;">
{% if experiences[0].logo is not null %}
                    <img style="float:left; margin-right:15px;" src="{{ asset('uploads/assets/experiences/logos/' ~ experiences[0].logo) }}"/>
{% endif %}
                    <h3>{{ experiences[0].name }}</h3>
                    {{ experiences[0].description | markdown }}
                    <a href="#" class="learn-more">experience details</a>
                    <a href="#" class="close">&nbsp;</a>
                </div>
            </div>
{% endif %}
        </div>
    </div>
    <div id="banner-filter-wrapper">
        <div id="banner-filter">
            <div id="filter-left" class="filter">&nbsp;</div>
{% if experiences | length > 1 %}
            <div id="filter-center" class="filter" style="display:none;">
                <a href="#" id="nav-left">&nbsp;</a>
                <a href="#" id="nav-right">&nbsp;</a>
            </div>
{% endif %}
            <div id="select-overlay">
                <select name="category-select" id="category-select">
{% for item in categories %}
                    <option value="{{ item.slug }}"{% if item.slug == category.slug %} selected="selected"{% endif %}>{{ item.name }}</option>
{% endfor %}
                </select>
                <div style="height:10px; font-size:0;">&nbsp;</div>
                <select name="experience-select" id="experience-select">
{% for item in experiences %}
                    <option value="{{ item.slug }}">{{ item.name }}</option>
{% endfor %}
                </select>
                <a href="{{ path('calendar') }}" id="calendar" title="Click to use our Experience Calendar if you have a specific date range in mind.">Calendar</a>
                <a href="#" id="phone" title="Call us at (855) 718-8724 or click to email us!">Call</a>
            </div>

            <div id="filter-right" class="filter">&nbsp;</div>
        </div>
    </div>
    <div id="middle3-wrapper">
        <div id="shadow">&nbsp;</div>
        <div id="middle3">
            <div class="column1">

            </div>
            <div class="column2">
                <h3 style="font-weight:bold; font-size:20px; margin-bottom:24px;">Make it unique!</h3>
                <p>Winspire can create a one-of-a-kind experience for every budget.</p>
                <p><a href="{{ path('contact') }}" class="contact-link">Contact us</a> and let’s start creating!</p>
                <div class="icons">&nbsp;</div>
            </div>
            <div style="clear:both;line-height:0; font-size:0;">&nbsp;</div>
        </div>
    </div>
{% if experiences | length > 1 %}
    <div id="middle4-wrapper">
        <div id="middle4">
        </div>
    </div>
{% endif %}
    
    <div id="middle5-wrapper">
        <div id="middle5">
            <div class="column featured">
                <h2>All Categories</h2>
                <ul>
{% for item in categories %}
                    <li><a href="{{ path('category', { 'slug': item.slug }) }}">{{ item.name }}</a></li>
{% endfor %}
                </ul>
            </div>
            <div class="column featured">
                <h2>Featured Experiences</h2>
                <ul>
{% for item in featured %}
                    <li><a href="{{ path('category', { 'slug': item.category.slug }) }}#{{ item.slug }}">{{ item.name }}</a></li>
{% endfor %}
                </ul>
                <a class="all" href="{{ path('experiences') }}">see all</a>
            </div>
            <div class="column">
                <div class="block">
                    <h2>Need Some Ideas?</h2>
                    <p>At a loss for ideas? Let one of our experience planners help you create the perfect event.</p>
                    <a class="email" href="{{ path('contact') }}">Email Us</a>
                    <p class="or">or</p>
                    <p class="phone">Call Us (855) 718-8724</p>
                </div>
                <div class="block">
                    <h2>Customize!</h2>
                    <p>All of our packages are customizable.<br/>Just let us know what your needs ad 
                    objectives are and we will customize an experience to meet them.</p>
                </div>
                <div class="block">
                    <h2>Stay Informed</h2>
                    <p>We will keep you up to date on our latest news and promotional offers.</p>
                    <form id="newsletter">
                        <label for="email">Enter email...</label>
                        <input type="text" name="email" id="email"/><button type="submit">Submit</button>
                        <span class="footnote">* By entering your email address you agree
                        <br/>to receive emails from WSE.</span>
                        <div class="result">
                            <img src="{{ asset('images/ajax-loader.gif') }}" width="16" height="16" alt=""/>
                            <span>&nbsp;</span>
                        </div>
                    </form>
                </div>
            </div>
            <div style="clear:both;line-height:0; font-size:0;">&nbsp;</div>
        </div>
    </div>
    
    <div class="simple-overlay extended" id="contact1">
        <h3>Request more information.</h3>
        <p>Call us anytime at <em>(855) 718-8724</em> or fill out the following form and one of 
        our experience experts will call you asap about your interest in the 
        following package (or others).</p>
        <div id="details">
            <h4>&nbsp;</h4>
            <p>&nbsp;</p>
        </div>
        <div id="image">
            
        </div>
{% include 'InertiaWinspireBundle:Default:ajaxContact.html.twig' with {'form': form} %}
    </div>
{% endblock %}
